@model NetCoreApp_Models.ViewModels.CharacteristicsVM
@using NetCoreApplication_Utility

@{
    var title = "Создать характеристику";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.Characteristics.Id != 0)
    {
        title = "Редактировать характеристику";
        <input asp-for="Characteristics.Id" hidden />
    }
    <div class=" border p-3 bg-white">
        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Characteristics.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Characteristics.Name" class="form-control" />
                        <span asp-validation-for="Characteristics.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.Characteristics.Id != 0)
                            {
                                //update
                                <input type="submit" class="btn btn-info w-100" value="Обновить" />
                            }
                            else
                            {
                                //create
                                <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="Создать" />
                            }
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"> <i class="fa-solid fa-right-from-bracket"></i> Назад </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>