<div class="container p-3 bg-white">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> Контакты </h2>
        </div>
        
    </div>
    <br /><br />
    <a href="https://tglink.ru/hoppipolla_test_bot">Наш телеграм бот</a>
</div>